body{
  background-color: #fff !important;
}
.container {
  max-width: 1500px;
}
h1,h2{
/*font-family: 'Bree Serif' !important;*/
font-family: 'Roboto', sans-serif !important;
text-transform: uppercase;
font-weight: bold;
}
h1{
color: #fff !important;
text-transform: uppercase !important;
margin-top: 84px !important;
font-size: 45px !important;
}

h3.pink, .moduletable h3{
/*font-family: 'Bree Serif' !important;*/
font-family: 'Roboto', sans-serif !important;
color: #bc2771 !important;
font-size:26px;
font-weight: bold;
text-transform: uppercase;
}
.blog h1{
margin-top: 44px !important;
}

h4.orange{
font-size: 30px;
text-align: left;
line-height: 36px;
color: #E27F37;
font-family: 'Roboto', sans-serif !important;
/*font-family: Helvetica, Helvetica Neue, Arial, sans-serif;*/
}
.site-title{
  display:none;
}


.topNav li span{
  padding-top:30px;
}

.topNav li:nth-child(1){
  border-top: 15px solid #E32431;

}
.topNav li:nth-child(1) a{

  color: #E32431;
}
.topNav li:nth-child(1):hover{
background-color: #E32431;
}

.topNav li:nth-child(2){

  border-top: 15px solid #BC2771;
}
.topNav li:nth-child(2) a{

  color:#BC2771;

}
.topNav li:nth-child(2):hover{
background-color: #BC2771;
}


.topNav li:nth-child(3){
border-top: 15px solid #786CA9;


}
.topNav li:nth-child(3) a{

  color: #786CA9;
}
.topNav li:nth-child(3):hover{
background-color: #786CA9;
}


.topNav li:nth-child(4){
border-top: 15px solid #00BFF3;

}
.topNav li:nth-child(4) a{

  color:#00BFF3;
}
.topNav li:nth-child(4):hover{
background-color: #00BFF3;
}


.topNav li:nth-child(5){
border-top: 15px solid #8EC742;

}
.topNav li:nth-child(5) a{
 
  color:#8EC742
}
.topNav li:nth-child(5):hover{
background-color: #8EC742;
}

.topNav li:nth-child(6){
border-top: 15px solid #F9B63E !important;


}
.topNav li:nth-child(6) a{
 

  color:#F9B63E !important;
}
.topNav li:nth-child(6):hover{
background-color: #F9B63E !important;
}

.topNav li:nth-child(6) a:hover{
 

color:#fff !important;
}

.topNav li:nth-child(7){
border-top: 15px solid #FF7527;


}
.topNav li:nth-child(7) a{
 
  color:#FF7527
}
.topNav li:nth-child(7):hover{
background-color: #FF7527;
}


.topNav li a:hover, .topNav li a span:hover{
color:#fff  ;
}
.topNav li:hover{
transition-duration: 0.2s;
transition-delay: 0s;
transition-timing-function: ease;
}

.navVerticalView{
margin-top: -4px;
}
.topNav li span{
text-transform: capitalize;
font-size: 11px;
color: #7F7F7F;
}

.topNav li a{
text-transform: uppercase !important;
}
.headerBg, .headerBg .container{
  background-color: #000;
}
.moduletablehomeslider > h3{
  display: none !important;
}
.header{
  margin: 0;
}
.n2-section-smartslider {
  background: #BC2771 url(../images/bg.jpg) no-repeat left top;
  background-size: cover;
}
.nav-pills li a{
  color:#fff;
}
body.site{
padding: 0 !important;
}
.customhomeslider > p{
display: none;
}
.celebration, .celebration .container, .row-fluid, .row-fluid .container{
/* background-color: #141414; */
}
.celebration,.celebration .container{ background-color: #141414;}
.celebration h2{
color: #bc2771;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}
.celebration p {
color: #fff;
text-align: center;
font-size: 24px;
font-weight: 400;
}
.headerBg .topNav{
float: right;
}
.jmm-testimonials{
padding: 50px 0;
background-color: #BC2771;
color: #fff;
}
.jmm-testimonials .jmm-author{
color:#fff !important;
}

.jmm-testimonials .jmm-profession{
font-size: 20px;
font-style: italic;
}
.jmm-testimonials .jmm-comment{
font-size: 25px;
font-weight: bold;
text-transform: uppercase;
}
.jmm-testimonials.default .jmm-rows {
padding-bottom: 50px;
}
.nav li a:hover{
background-color: transparent !important;
}
#content .copyright-block{
display: none;
}
.headerBg .navigation .navbar{
float: right !important;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-slider
{
position: relative;
display: block;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
        user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-ms-touch-action: pan-y;
    touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}

.slick-list
{
position: relative;
display: block;
overflow: hidden;
margin: 0;
padding: 0;
}
.slick-list:focus
{
outline: none;
}
.slick-list.dragging
{
cursor: pointer;
cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}

.slick-track
{
position: relative;
top: 0;
left: 0;
display: block;
}
.slick-track:before,
.slick-track:after
{
display: table;
content: '';
}
.slick-track:after
{
clear: both;
}
.slick-loading .slick-track
{
visibility: hidden;
}

.slick-slide
{
display: none;
float: left;
/* height: 100%; */
min-height: 1px;
}
[dir='rtl'] .slick-slide
{
float: right;
}
.slick-slide img
{
display: block;
}
.slick-slide.slick-loading img
{
display: none;
}
.slick-slide.dragging img
{
pointer-events: none;
}
.slick-initialized .slick-slide
{
display: block;
}
.slick-loading .slick-slide
{
visibility: hidden;
}
.slick-vertical .slick-slide
{
display: block;
height: auto;
border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
display: none;
}
.sponsors{
text-align: center;
  font-weight: bold;
  font-size: 31px;
  padding-bottom: 50px;
  margin-bottom: 3%;
}
.threeSections, .threeSections .container{
background-color: #1E1E1E;
color:#fff;
}
.threeSections .col-sm-4{
/* padding:100px !important; */
}
.threeSections .col-sm-4 img{
width:25%;
margin: 0 auto;
display: block;
}
.threeSections .col-sm-4  h3, .threeSections .col-sm-4  p, .threeSections .col-sm-4  a{
text-align: center;
}
.threeSections .col-sm-4  a{
margin: 0 auto;
display: block;
border-radius: 0;
width: 34%;

}

.sponsorsPage img{
width:200px;
}
.sponsorsPage h2{
text-align: center;

}
.sponsorsPage h2 {
text-align: center;
border-top: 1px solid #ddd;
padding-top: 46px;
}
.sponsors h2{
margin-bottom: 5% !important;
}
.body .container {


border: transparent;
-moz-box-shadow: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.contactUs h2{
text-align: center;
padding: 50px 0;
}
.events h2{
text-transform: capitalize;
}
.events span{
color:#ccc;
font-weight: bold;
}

.events .row {
padding: 60px 0;
border-bottom: 1px solid #ddd;
}
.events h1{
text-align: center;
}
.homeEvents a{
display: block;
  width: 19%;
  margin: 0 auto;
  font-size: 18px;
  text-transform: unset;
}
.homegallery a.btn{
display: block;
width: 11%;
margin: 0 auto;
font-size: 18px;
text-transform: unset;
background: transparent;
color: #fff;
padding: 9px;
}
.threeSections a{
background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.homeEvents h2{
text-align: center;
margin-bottom: 3%;
}
.homeEvents{
padding:2% 0 !important;
}
.homeEvents .row{
margin-bottom: 3%;
}
.topNav li a {
text-transform: capitalize;
}
.footer{
background-color: #000;
color: #fff;
}
.footerTop{
background-color: #000;
color:#fff;
}
.nonblock{
font-size:10px;
}
.footerTop .logo{
margin-bottom: 10px;
}
.footerTop .social img{
float: right;
}
.headerBg .container{
padding: 0;
}
.topNav li{
margin:0 !important;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus{
background-color: transparent !important;
color: #F9B63E !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
background-color: transparent !important;
color: #F9B63E !important;
}
.headerBg .col-sm-3 img{
width: 76%;
padding-top: 2%;
}
.topNav li{
width: 124px;
}
.topNav li a{
text-align: center;
}
.moduletablehomeslider .nextend-bullet-bar{
position: absolute;
top: -55px;
}
.threeSections h3{
margin-top: 10px;
}

.footerTopBG{
background-color: #141414;
padding: 2%;
}

div#n2-ss-1 .n2-ss-button-container a div {

font-weight: bold !important;
text-transform: uppercase !important;
font-size: 16px !important;
}
.footerTop .topNav li{
width: 121px;
}
body.site{
border: none;
}

.nav-pills ul {
background-color: #ccc;
}

.footer .copyright{
font-size: 11px;
}
.homegallery, .homegallery .container{
background-color: #1E1E1E;
padding-bottom: 47px;
padding-top: 22px;
}
.homegallery h2{
text-align: center;
color: #fff;
padding-bottom: 30px;
}
.homegallery .copyright-block{
display: none;
}

.homegallery .osgalery-cat-tabs{
text-align: center;
}

.homegallery .osgalery-cat-tabs li{
margin-top: 13px !important;
margin-bottom: 8px !important;
width: 101px;
}

.theCarnivalBg{
height: 287px;
background: transparent url(../images/theCarnivalBg.jpg) no-repeat center center;
background-size: cover;
}
.theCarnivalBg .container{
background: transparent;
}
.theCarnivalPageBg, .theCarnivalPageBg .container{
/* background-color: #141414 !important; */
}
.theContactUsPageBg, .theContactUsPageBg .container{
/* background-color: #fff !important; */
}
.theCarnivalPageBg p{
color:#fff;
}
.theCarnivalPageBg p.bold{
font-weight: bold;
color: #000 !important;
font-size: 23px;
padding-top: 14px;
}


.theCarnivalPageBg .ticketBtn {
margin-top: 20px;
margin-top: 46px;
}
.theCarnivalPageBg .ticketBtn a{
  padding: 15px;
  font-size: 18px;
  background-color: red;
  color: #fff;
  font-weight: bold;

}

.nav-collapse{
margin-bottom: 0;
/* background-color: #ccc; */
}

.pinkTel{
color: #bc2771 !important;
font-size: 18px;
}

.theContactUsPageBg p{
color:#000;
}

.theContactUsPageBg p a{
color: #bc2771 !important;
font-size: 12px;
}

#content .moduletable{
width: 30%;
float: right;
padding: 3px 0px;
}

#content .moduletable .dj-simple-contact-form-row{
margin: 50px 0;
}
#content .moduletable{
/* background-color: #1F1F1F; */
padding: 50px 31px;
margin-top: 25px;
border: 1px solid #ccc;
}



.blog{
/* background-color: #1E1E1E; */
padding: 24px 24px;
}
.blog p{
color:#000;
text-align: center
}
.blog h1 {
text-align: center;
color: #C6A342 !important;
}
.item-page h1{
color: #C6A342 !important;
}
.item-page p{
/* color: #fff !important; */
}
.blog .leading-0{
position: relative;
}
.blog .tags{

position: absolute;
bottom: 0;
right: 0;
}
#aside, #aside .well{
/* background-color: #1E1E1E; */
border: none;
}
#aside .mod-list li a{
color:#000;
}

.page-header {
color: #fff;
text-transform: uppercase;
font-weight: bold;
}
.readmore a{
  background-color: #CE2278;
  color: #fff;
}

.readmore a:hover{
  background-color: rgb(145, 16, 80);
  color: #fff;
}

#content .item-page {
  /* position: relative; */
}
.item-page ul.tags{
position: absolute;
bottom: -34px;
right: 0;
}

#aside .well h3{
 background-color: #00BFF3;
 padding: 10px;
 border: none;
}

#aside .well{
 padding: 0;
 margin-top: 20px;
}

#aside .well ul li{
padding: 13px 10px !important;
}

#clockdiv{ 
font-family: sans-serif; 
color: #fff; 
/* display: inline-block;  */
font-weight: 100; 
text-align: center; 
font-size: 12px; 
} 
#clockdiv > div{ 
padding: 13px 0px 8px 0px; 
border-radius: 3px; 
color: #fff;
/* display: inline-block;  */
} 

smalltext{ 
padding-top: 5px; 
font-size: 16px; 
} 
.clockBg, .clockBg .container{
background-color: #786CA9;
}
.clockBg .bigClockDiv .join p:nth-child(2){
text-align: right;
margin: 0;
}
.clockBg .bigClockDiv .join p:nth-child(1){
text-align: center;
padding-left: 78px;
margin: 0;
font-size: 15px;
text-transform: uppercase;
}

.calendarBtn{
background: transparent !important;
color: #fff !important;
border-radius: 0 !important;
text-transform: uppercase;
border: transparent !important;
box-shadow:none !important;
}
.bigClockDiv .calendarBtn{
float: left;
}
.smallClockDiv .calendarBtn{
margin-top: 10px;
}
.smallClockDiv p{
font-size: 14px;
}
.timer span{
font-size: 18px;
font-weight: bold;
}
.smalltext{
font-weight: bold;
}
.timer div{
margin: 0;
padding: 0;
}
.nav li a {
font-size: 11px;
text-transform: uppercase;
}
.topNav li a{
text-transform: uppercase;
font-size: 11px;
}

.navigation .pull-left{
display: none;
}

.nav-pills{
position: relative;
}
.navigation .nav-pills li:nth-child(7) a{
padding: 0px 0px;
margin: 0px 0;
}
.navigation .nav-pills li:nth-child(7) a img{
width: 155px;
}

.navigation .nav{
background-color: #000;
}

.navigation .nav li a{
color: #fff;
}
.smallClockDiv{
display: none ;
}

.os-gallery-img-category{
/* background-color: transparent !important;
font-size: 24px !important;
font-weight: bold !important;
 */

 display: none !important;
}

#mc_embed_signup {
background: #000 !important;
}

#mc_embed_signup .button{
background-color: #000 !important;
  border: 1px solid #fff !important;
  border-radius: 0 !important;
  text-transform: uppercase;
}

#mc_embed_signup input.email {

width: 55% !important;
border-radius: 0 !important;
}

.footerTop .topNav{
margin-bottom: 50px;
}

.headerBg .navigation{
float: right;
}

nav.navigation{
z-index: 1;
}

.innerPage, .innerPage .container{

  background-color:#fff;
}

.theCarnivalPageBg p{
  color: #000 !important;
}

.blog .items-leading{
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 32px;
}

.blog .item .tags li.tag-3{
  display: none;
}
.djeasycontact-g-recaptcha > div{
  width: 100% !important;
}
 .rc-anchor-normal{
 
   width: 99% !important;
}

.logoContainer{
  z-index: 111;
}

#aside h3{
  font-size:19px;
  text-align: center;
}
#aside2 li{
  list-style: none;
}
/* 
=========================== media queries ============================ */


/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {



}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

#content .moduletable{
  width: 100%;
 
}

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

#content .moduletable{
  width: 93%;
  MARGIN: 3% 11%;
  padding: 0% 15%;
  background-color: transparent;
 
}
.navigation .pull-left{
  display: block !important;
}

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

#content .moduletable{
  width: 93%;
  MARGIN: 3% 11%;
  padding: 0% 15%;
  background-color: transparent;
 
}
.navigation .pull-left{
  display: block !important;
}

.smallClockDiv{
  display: block;
}

.bigClockDiv{
  display: none;
}

.n2-ss-widget {
  top:190px !important;
}


.homeEvents a{
  
    width: 70%;
  
}
.homegallery a.btn{

  width: 70%;
  
}
.topNav{

  margin-top: 40px;
  margin-left: 50px !important;
}

.headerBg .col-sm-3 img {
  width: 76%;
  padding-top: 2%;
  margin-left: 45px;
  margin-top: 11px;
}

.navigation {
  position: fixed;
  top: 17px;
  right: 48px;
}

#mc_embed_signup .button {
  width: 37% !important;
  margin: 0;
}
.homeEvents .row{
  padding: 8px;
}

  h1 {
    
    font-size: 25px !important;
  }

  h2, .pink {
   
    font-size: 20px !important;
  }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {



#content .moduletable{
  width: 93%;
  MARGIN: 3% 11%;
  padding: 0% 15%;
  background-color: transparent;
 
}
.navigation .pull-left{
  display: block !important;
}
.smallClockDiv{
  display: block;
}

.bigClockDiv{
  display: none;
}

.n2-ss-widget {
  top:190px !important;
}

.homeEvents a{
 
    width: 80%;
   
}
.homegallery a.btn{
 
  width: 80%;
  
}
.topNav{

  margin-top: 40px;
  margin-left: 50px !important;
}

.headerBg .col-sm-3 img {
  width: 76%;
  padding-top: 2%;
  margin-left: 45px;
  margin-top: 11px;
}

.navigation {
  position: fixed;
  top: 17px;
  right: 48px;
}
#mc_embed_signup .button {
  width: 37% !important;
  margin: 0;
}

.homeEvents .row{
  padding: 8px;
}

  h1 {
   
    font-size: 25px !important;
  }

  h2, .pink {
   
    font-size: 20px !important;
  }
}