/** Visforms css for data views **/
.visforms .visdata .js-stools {
    margin-bottom: 1rem;
}

.visforms .visdata .js-stools .custom-select{
    background-image: none;
}

.vispagination {
    text-align:center !important;
    margin-bottom: 15px;
}

.visdatatable {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-collapse:collapse;
}

.visdatatable td {
    vertical-align: top;
}

.visdatatableborder td, .visdatatableborder th  {
    border : 1px solid #ccc;
    padding: 0 2px;
}

.visfrontlabel {
    height: 30px;
    padding-right: 20px;
    font-weight: bold;
    color:#666;
    width: 30%;
}

/*Fonts*/
@font-face {
    font-family: 'visIcon';
    src:url('../fonts/visIcon.eot?-7x6gp7');
    src:url('../fonts/visIcon.eot?#iefix-7x6gp7') format('embedded-opentype'),
    url('../fonts/visIcon.woff?-7x6gp7') format('woff'),
    url('../fonts/visIcon.ttf?-7x6gp7') format('truetype'),
    url('../fonts/visIcon.svg?-7x6gp7#visIcon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="visicon-"], [class*=" visicon-"] {
    font-family: 'visIcon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="visicon-"],
[class*=" visicon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
}
[class^="visicon-"]:before,
[class*=" visicon-"]:before {
    font-family: 'visIcon';
    font-style: normal;
    speak: none;
}
[class^="visicon-"].disabled,
[class*=" visicon-"].disabled {
    font-weight: normal;
}

.visicon-arrow-up-3:before {
    content: "\e600";
}
.visicon-arrow-down-3:before {
    content: "\e601";
}
.visicon-edit:before {
    content: "\e602";
}
.visicon-calendar:before {
    content: "\e603";
}
.visicon-download:before {
    content: "\e604";
}
.visicon-eye:before {
    content: "\e9ce";
}