/** Visforms css used in form views with layout "Default" **/
#visformcontainer {
	width: 100%;
}

.visform_tooltip, .visform_tooltipcss {
	margin-top: 13px;
	margin-left: 5px;
}

.visform {
	margin-top: 10px;	
}

.visform .calendar {
	margin-left: 3px;
}

.visform input, .visform select, .visform textarea {
	border: 1px solid #999;
	padding: 2px;
}

.visform input:not(.btn), .visform select, .visform textarea {
    background: none;
}

.visform textarea {
	height: auto;
}

.visform .btn-save, .visform .btn-cancel, .visBtnCon .vfbt-back, .visBtnCon .vfbt-next {
    padding: 4px 6px;
}

.visform .btn-save, .visBtnCon .vfbt-next {
    color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	*background-color: #51a351;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.visform .btn-save:hover,
.visform .btn-save:focus,
.visform .btn-save:active,
.visBtnCon .vfbt-next:hover,
.visBtnCon .vfbt-next:focus,
.visBtnCon .vfbt-next:active {
	color: #fff;
	background-color: #51a351;
	*background-color: #499249;
}
.visform .btn-save:active,
.visBtnCon .vfbt-next:active {
	background-color: #408140 \9;
}

.visform .btn-cancel {
    color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	*background-color: #bd362f;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.visform .btn-cancel:hover,
.visform .btn-cancel:focus,
.visform .btn-cancel:active {
	color: #fff;
	background-color: #bd362f;
	*background-color: #a9302a;
}
.visform .btn-cancel:active {
	background-color: #942a25 \9;
}

.visBtnCon .vfbt-back {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	*background-color: #f89406;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.visBtnCon .vfbt-back:hover,
.visBtnCon .vfbt-back:focus,
.visBtnCon .vfbt-back:active {
	color: #ffffff;
	background-color: #f89406;
	*background-color: #df8505;
}

.visBtnCon .vfbt-back:active {
	background-color: #c67605 \9;
}

.visform input.error, .visform textarea.error,
.visform select.error {
	border: 1px dotted #FF0000 !important;
}

.captchaCont {
	margin-top: 10px;
}

.visBtnCon {
	text-align: center !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.visCSSlabel {
	display: block;
	float: left;
	margin-top: 10px;
    margin-right: 1%;
	width: 30%;
	font-size: 1em;
}

.visCSSlabel100 {
    display: block;
	float: left;
	margin-top: 10px;
    width: 99%;
    font-size: 1em;
}

.visCSSrllst {
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    font-size: 1em;
}

.visCSSrbinl input[type="radio"] {
    margin-bottom: 5px;
}

.visCSSrlinl {
    display: inline;
    margin: 4px 4px 0 4px;
    font-size: 1em;
}

.visCSSmargLeft, .editor {
    margin-left: 30%;
}

.visCSSinput, .editor {
	width: 66%;
	margin-top: 10px;
	background:none;
}

.visCSSinput input {
	background: none;
}

.visCSSinputnowidth {
	display: block;
	float: left;
	margin-top: 10px;
}

.visCSSclear {
	margin: 0px;
	padding: 0px;
	clear: both;
}

.visCSSFloatLeft {
	float: left;
}


.visCSSbot5 {
    margin-bottom: 5px;
}

.visCSStop0 {
    margin-top: 0; 
    padding-top: 10px;
}

.visCSSright20 {
    margin-left: 5px; 
    margin-right: 1.5em;
}

.visCSScenter {
	text-align:center !important;
	margin-top: 10px !important;
}

.visCustomText {
	margin-top: 10px;
}

form[id^='mod-visform'] .editor {
	clear: left;
	width: 99%;
	margin-left: 0;
}

/** Data view layouts, Moved to visdata.css on version 3.11.4, Kept for older subscriptions, Remove on Joomla! 4 **/
.vispagination {
	text-align:center !important;
	margin-bottom: 15px;
}

.visdatatable {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	border-collapse:collapse;
}

.visdatatable td {
    vertical-align: top;
}

.visdatatableborder td, .visdatatableborder th  {
	border : 1px solid #ccc;
	padding: 0 2px;
}

.visfrontlabel {
	height: 30px;
	padding-right: 20px;
	font-weight: bold;
	color:#666;
        width: 30%;
}