.vis_mandatory {
	color: #FF0000;
	font-weight: bold;
}


.form-control.error {
	border-color: #d9534f;
}
label.error {
	color: #d9534f;
	display:block;
	width: 100%;
}

#vispoweredby {
	text-align:center !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

#vispoweredby a {color:#666666;}

.visform .fade, div.tooltip.vistt.fade {
	opacity: 0;
	transition: opacity 0.15s linear;
}
.visform .fade.in, div.tooltip.vistt.fade.in {
	opacity: 1;
}
.visform .collapse {
	display: block;
}
.visform .collapse.show {
	display: block;
}
.visform tr.collapse.show {
	display: table-row;
}
.visform tbody.collapse.show {
	display: table-row-group;
}
.visform .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

.visform .collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	-moz-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease;
}

.visform .collapse.in {
	height: auto;
}

.visform .form-group {
	margin-bottom: 1rem;
}

div.tooltip.vistt {
	position: absolute;
	z-index: 1070;
	display: block;
	width: auto !important;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: 0.875rem;
	word-wrap: break-word;
	opacity: 0; }
div.tooltip.vistt.in {
	opacity: 0.9; }
div.tooltip.vistt .arrow {
	position: absolute;
	display: block;
	width: 5px;
	height: 5px; }
div.tooltip.vistt .arrow::before {
	position: absolute;
	border-color: transparent;
	border-style: solid; }
div.tooltip.vistt.bs-tooltip-top, div.tooltip.vistt.bs-tooltip-auto[x-placement^="top"] {
	padding: 5px 0; }
div.tooltip.vistt.bs-tooltip-top .arrow, div.tooltip.vistt.bs-tooltip-auto[x-placement^="top"] .arrow {
	bottom: 0;
	left: 49%;}
div.tooltip.vistt.bs-tooltip-top .arrow::before, div.tooltip.vistt.bs-tooltip-auto[x-placement^="top"] .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 5px 5px 0;
	border-top-color: #000;}
div.tooltip.vistt.bs-tooltip-right, div.tooltip.vistt.bs-tooltip-auto[x-placement^="right"] {
	padding: 0 5px; }
div.tooltip.vistt.bs-tooltip-right .arrow, div.tooltip.vistt.bs-tooltip-auto[x-placement^="right"] .arrow {
	left: 0; }
div.tooltip.vistt.bs-tooltip-right .arrow::before, div.tooltip.vistt.bs-tooltip-auto[x-placement^="right"] .arrow::before {
	margin-top: -3px;
	content: "";
	border-width: 5px 5px 5px 0;
	border-right-color: #000; }
div.tooltip.vistt.bs-tooltip-bottom, div.tooltip.vistt.bs-tooltip-auto[x-placement^="bottom"] {
	padding: 5px 0; }
div.tooltip.vistt.bs-tooltip-bottom .arrow, div.tooltip.vistt.bs-tooltip-auto[x-placement^="bottom"] .arrow {
	top: 0; }
div.tooltip.vistt.bs-tooltip-bottom .arrow::before, div.tooltip.vistt.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
	margin-left: -3px;
	content: "";
	border-width: 0 5px 5px;
	border-bottom-color: #000; }
div.tooltip.vistt.bs-tooltip-left, div.tooltip.vistt.bs-tooltip-auto[x-placement^="left"] {
	padding: 0 5px; }
div.tooltip.vistt.bs-tooltip-left .arrow, div.tooltip.vistt.bs-tooltip-auto[x-placement^="left"] .arrow {
	right: 0; }
div.tooltip.vistt.bs-tooltip-left .arrow::before, div.tooltip.vistt.bs-tooltip-auto[x-placement^="left"] .arrow::before {
	right: 0;
	margin-top: -3px;
	content: "";
	border-width: 5px 0 5px 5px;
	border-left-color: #000; }
div.tooltip.vistt .tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 0.25rem; }

.visform [class^="fieldset-"] {
	display: none;
}

.visform [class^="fieldset-"].active {
	display: block;
}

.visprogess {
	padding: 10px;
	margin-top: 0;
	margin-bottom: 1rem;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px ;
	border-radius: 4px ;
	*zoom: 1;
}

.visprogess:before,
.visprogess:after {
	display: table;
	line-height: 0;
	content: "";
}

.visprogess:after {
	clear: both;
}

.stepCont {
	display: inline-block;
	text-align: center;
}

.visprogess .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
}

.visprogess .badge {
	padding-right: 9px;
	padding-left: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.visprogess .badge:empty {
	display: none;
}

.visprogess a.badge:hover,
.visprogess a.badge:focus {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.visprogess .badge-important {
	background-color: #b94a48;
}

.visprogess .badge-success {
	background-color: #468847;
}

.next_btn, .back_btn, .correct_btn, .summary_button, .btn-cancel {
	margin-right: 0.25rem;
}

span.input-group-addon.hoverCursor:hover {
	cursor: default;
}

/*Fonts*/
@font-face {
	font-family: 'visIcon';
	src:url('../fonts/visIcon.eot?-7x6gp7');
	src:url('../fonts/visIcon.eot?#iefix-7x6gp7') format('embedded-opentype'),
		url('../fonts/visIcon.woff?-7x6gp7') format('woff'),
		url('../fonts/visIcon.ttf?-7x6gp7') format('truetype'),
		url('../fonts/visIcon.svg?-7x6gp7#visIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="visicon-"], [class*=" visicon-"] {
	font-family: 'visIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="visicon-"],
[class*=" visicon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
}
[class^="visicon-"]:before,
[class*=" visicon-"]:before {
	font-family: 'visIcon';
	font-style: normal;
	speak: none;
}
[class^="visicon-"].disabled,
[class*=" visicon-"].disabled {
	font-weight: normal;
}

.visicon-calendar:before {
	content: "\e603";
}